body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
}

.active{
  color:red;
}
.login{
    padding-top: 5px;
    position: relative;
    left: 10%;
    top: 5%;
    width: 5%;
}
.home{
    padding-top: 5px;
    position: relative;
    left: 90%;
    top: 5%;
    width: 5%;
}
.logo{
    padding-top: 20px;
    position: relative;
    top: 20%;
    width: 100%;
}
h5{
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}
.arrow{
    padding-top: 10px;
    position: relative;
    left: 42%;
    top: 70%;
    width: 15%;
}
.highlight0{
  position: relative;
  float: left;
  padding-top: 10%;
  width: 50%;
  height: 300px;
}
.highlight1{
  position: relative;  
  padding-top: 10%;
  width: 50%;
  height: 300px;
}
.highlight2{
  padding-top: 10%;
  position: relative;
  float: left;
  top: 90%;
  width: 50%;
  height: 300px;
}
.highlight3{
  padding-top: 10%;
  position: relative;
  top: 90%;
  width: 50%;
  height: 300px;
}
footer{
  padding-top: 50px;
  text-align: center;
  font-size: 28px;
  font-style: bold;
}